*{
	padding: 0;
	margin: 0;
	border: 0;
	/*color: rgb(255, 255, 255);*/
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.cvet{
	font-size: 14px;
	color: rgb(255, 255, 255);
}
.picture{

}

.fon{
	background-image: url(image/Rectangle30.png);
	position: absolute;
}

.pict1{
	position: relative;
}

.pict2{
	position: relative;
	right: 100px;
	top: 128px;
}

.pict3{
	position: relative;
	right: 150px;
	top: 30px;
}

.you{
	position: relative;
	bottom: 440px;
	left: 43.34px;
}

.vk{
	padding: 38px 0px;
}

.menu{
	display: flex;
	position: relative;
	/*align-items: flex-start;*/
	/*justify-content: flex-end;*/
	left: 700px;
	padding: 30px 30px;
	bottom: 500px;
	font-size: 16px;
}
.zagolovok{
	display: flex;
	position: relative;
	/*font-weight: 700px;*/
	font-size: 54px;
	left: 250px;
	bottom: 450px;
	color: white;
	/*justify-content: center;*/
	
}